.CallbackPopup#CallbackPopup
  .CallbackPopup__container
    .CallbackPopup__close#CallbackPopup-close
    h2.CallbackPopup__heading Заказать звонок
    form.CallbackPopup__form#CallbackPopup-form
      .CallbackPopup__item
        label.CallbackPopup__label_input Ваше имя:
        input.CallbackPopup__input(type="text" name="name" placeholder="Например, Антон" )
      .CallbackPopup__item
        label.CallbackPopup__label_input <span>*</span> Ваш телефон:
        input.CallbackPopup__input(type="tel" name="tel" placeholder="+7 (999) 999-99-99" required)
      .CallbackPopup__agreement
        input.CallbackPopup__checkbox#CallbackPopup-checkbox(type="checkbox")
        label.CallbackPopup__label(for="CallbackPopup-checkbox") Согласен на обработку&nbsp;&nbsp;
        a.CallbackPopup__link(href="/") персональных данных
      button(type="submit").Button.i-TopSlider__button.CallbackPopup__button Оставить заявку
        include ../../images/arrow-right-font.svg
