footer.Footer
  .g-wrapper
    .Footer__content
      .Footer__top
        a(href="/").Footer__logo
          include ../../images/logo.svg
        .Footer__socials
          a(href="#").Footer__social
            img(src="../../images/VK.png")
          a(href="#").Footer__social
            img(src="../../images/Facebook.png")
          a(href="#").Footer__social
            img(src="../../images/Twitter.png")
          a(href="#").Footer__social
            img(src="../../images/Instagram.png")
      .Footer__bottom
        .Footer__text.Footer__copyright © 2018 ООО «Cyber Agency». Все права защищены
        .Footer__links
          a(href="#").Footer__text.Footer__rules Правила и условия
          a(href="#").Footer__text.Footer__conf Политика конфиденциальности

