.i-About
  h3.i-About__subheading А теперь расскажем Вам
  h1.i-About__heading О нашем агентстве
  .g-wrapper
    p.i-About__text.i-About__text_big.i-About__text_center Наша команда состоит из бывших киберспортсменов, eSport блогеров и журналистов
    blockquote.i-About__blockquote
      span Мы поверили в киберспорт, когда о нем даже никто не слышал
        .i-About__quote.i-About__quote_left: include ../../images/quote-left.svg
        .i-About__quote.i-About__quote_right: include ../../images/quote-right.svg
    .i-About__descriptionBlock
      .i-About__photo(data-text="ПРОФИ")
        img(src="/images/PRO.png")
      .i-About__description
        .i-About__text #[span.i-About__text_bold Со-учредитель агентства Иван Иванов] - является первым профессиональным Российским киберспортсменом и входит в ТОП-20 киберспортсменов всех времен по версии Игромании.
        .i-About__text.i-About__cite.i-About__text_italic Наша увлеченность киберспортом позволяет чувствовать тренды задолго до их появления, а наши связи, полученные за 12 лет, дают возможность создавать #[span.i-About__text_bold самые масштабные активности в отрасли]
        .i-About__text С 2006 года нами было #[span.i-About__text_bold релизовано более 40 проектов] для брендов различного уровня. Мы опробовали огромное количество различных методов, видели как трансформировался рынок киберспорта и прочувствовали его восхождение
    p.i-About__text.i-About__text_big.i-About__text_center Собрав команду #[span.i-About__text_bold ПРОФЕССИОНАЛОВ] самого высокого уровня и отточив свои знания и умения
    p.i-About__convoy Мы предлагаем полносервисное сопровождение проектов любой сложности в области киберспорта
    .i-About__footer
      a.Button(href="#") Начать действовать
        include ../../images/arrow-right-font.svg
