.i-Blog
  .g-wrapper
    .i-Blog__container
      .i-Blog__sniper
      .i-Blog__subheading Читайте
      h1.i-Blog__heading Наш блог
      p.i-Blog__cite Здесь мы пишем об интересных событиях в нашей деятельности и в киберспорте в целом Заглядывайте сюда, чтобы быть в курсе наших новых проектов!
      .i-Blog__posts
        .i-Blog__post
          .i-Blog__date
            include ../../images/pen.svg
            | 23 марта, 2018
          h2.i-Blog__title Как правильно продвигать продукты?
          p.i-Blog__text Стимулирование коммьюнити искажает рекламный блок, работая над проектом. До недавнего времени считалось, что инвестиционный продукт допускает…
          a.i-Blog__more Читать статью…
        .i-Blog__post
          .i-Blog__date
            include ../../images/pen.svg
            | 23 марта, 2018
          h2.i-Blog__title Как правильно продвигать продукты?
          p.i-Blog__text Стимулирование коммьюнити искажает рекламный блок, работая над проектом. До недавнего времени считалось, что инвестиционный продукт допускает…
          a.i-Blog__more Читать статью…
        .i-Blog__post
          .i-Blog__date
            include ../../images/pen.svg
            | 23 марта, 2018
          h2.i-Blog__title Как правильно продвигать продукты?
          p.i-Blog__text Стимулирование коммьюнити искажает рекламный блок, работая над проектом. До недавнего времени считалось, что инвестиционный продукт допускает…
          a.i-Blog__more Читать статью…
      .i-Blog__footer
        a.Button.i-Blog__button
          include ../../images/refresh.svg
          | Показать больше
