.i-Events
  .g-wrapper
    .i-Events__header
      img.i-Events__headerIcon(src="/images/Legendary.png")
      .i-Events__headerContent
        h3.i-Events__subheading Мы готовы показать Вам
        h1.i-Events__heading Наши кейсы
    .i-Events__description Мы работали над большим количеством различных проектов в киберспортивной тематике. Но здесь мы покажем Вам самые сложные и интересные проекты!
    .i-Events__events
      .i-Events__event
        img.i-Events__photo(src="/images/event1.png")
        .i-Events__text Cовместно с eSport.Mail и CyberFight.ru
        .i-Events__title Организация киберспортивных турниров по Quake и PUBG
      .i-Events__event
        img.i-Events__photo(src="/images/event2.png")
        .i-Events__text Рекламная стратегия по выводу на рынок и медийное сопровождение
        .i-Events__title Киберспортивного сервиса PlaPro 
