.i-TopSlider
  .g-wrapper
    .i-TopSlider__container
      .i-TopSlider__notebook: img(src='/images/notebook.png')
      .i-TopSlider__slider
        .i-TopSlider__slides.swiper-wrapper
          .i-TopSlider__slide.swiper-slide
            p.i-TopSlider__text Рекламная стратегия по выводу на рынок и медийное сопровождение
            .i-TopSlider__heading Киберспортивного сервиса PlaPro 
            ul.i-TopSlider__list
              .i-TopSlider__item
                include ../../images/list-item.svg
                | Привлечено 34 ТОП киберспортсмена по СS и Dota 2 
              .i-TopSlider__item
                include ../../images/list-item.svg
                | Охват рекламной кампании более 30 млн. пользователей по всему миру
              .i-TopSlider__item
                include ../../images/list-item.svg
                | При участии более 300 стримеров TWITCH c общей аудиторией более 10 млн. человек
            button.Button.i-TopSlider__button.mail Оставить заявку
              include ../../images/arrow-right-font.svg
          .i-TopSlider__slide.swiper-slide
            p.i-TopSlider__text Рекламная стратегия по выводу на рынок и медийное сопровождение
            .i-TopSlider__heading Киберспортивного сервиса PlaPro 
            ul.i-TopSlider__list
              .i-TopSlider__item
                include ../../images/list-item.svg
                | Привлечено 34 ТОП киберспортсмена по СS и Dota 2 
              .i-TopSlider__item
                include ../../images/list-item.svg
                | Охват рекламной кампании более 30 млн. пользователей по всему миру
              .i-TopSlider__item
                include ../../images/list-item.svg
                | При участии более 300 стримеров TWITCH c общей аудиторией более 10 млн. человек
            button.Button.i-TopSlider__button.mail Оставить заявку
              include ../../images/arrow-right-font.svg
          .i-TopSlider__slide.swiper-slide
            p.i-TopSlider__text Рекламная стратегия по выводу на рынок и медийное сопровождение
            .i-TopSlider__heading Киберспортивного сервиса PlaPro 
            ul.i-TopSlider__list
              .i-TopSlider__item
                include ../../images/list-item.svg
                | Привлечено 34 ТОП киберспортсмена по СS и Dota 2 
              .i-TopSlider__item
                include ../../images/list-item.svg
                | Охват рекламной кампании более 30 млн. пользователей по всему миру
              .i-TopSlider__item
                include ../../images/list-item.svg
                | При участии более 300 стримеров TWITCH c общей аудиторией более 10 млн. человек
            button.Button.i-TopSlider__button.mail Оставить заявку
              include ../../images/arrow-right-font.svg
      .i-TopSlider__footer
        .i-TopSlider__pagination
        .i-TopSlider__arrow.i-TopSlider__arrow_left: include ../../images/left.svg
        .i-TopSlider__arrow.i-TopSlider__arrow_right: include ../../images/right.svg
