.i-Services
  .g-wrapper
    h3.i-Services__subheading Хотите узнать
    h1.i-Services__heading Какие услуги мы оказываем?
    p.i-Services__text #[span.i-Services__text_bold «Cyber Agency»] - интегрируем Ваш бренд в киберспортивное пространство
    p.i-Services__text Мы обладаем уникальным опытом, огромными компетенциями и обширными партнерскими связями в области киберспорта
    .i-Services__blocks
      .i-Services__block.i-ServiceBlock
        include ../../images/border-image.svg
        .i-ServiceBlock__content
          .i-ServiceBlock__title Интеграция в турниры
          .i-ServiceBlock__text Поможем организовать турнир или стать спонсором. Подберем нужные игры и аудиторию, договоримся о рекламе с eSport-площадками, обеспечим высший организационный уровень
        .i-ServiceBlock__circle: .i-ServiceBlock__gradient: include ../../images/ranking.svg
      .i-Services__block.i-ServiceBlock
        include ../../images/border-image.svg
        .i-ServiceBlock__content
          .i-ServiceBlock__title Реклама
          .i-ServiceBlock__text Подберем наиболее эффективные киберспортивные каналы привлечения аудитории и увеличения лояльности. Создадим и внедрим вирусную рекламу в киберспортивное сообщество
        .i-ServiceBlock__circle: .i-ServiceBlock__gradient: include ../../images/targeting.svg
      .i-Services__block.i-ServiceBlock
        include ../../images/border-image.svg
        .i-ServiceBlock__content
          .i-ServiceBlock__title Работа с лидерами мнений
          .i-ServiceBlock__text Сотрудничаем с более чем 1000 профессиональными киберспортсменами, журналистами, комментаторами, блоггерами и стримерами из различных дисциплин
        .i-ServiceBlock__circle: .i-ServiceBlock__gradient: include ../../images/customer.svg
      .i-Services__block.i-ServiceBlock
        include ../../images/border-image.svg
        .i-ServiceBlock__content
          .i-ServiceBlock__title Стратегия
          .i-ServiceBlock__text Проконсультируем и поможем выстроить наиболее эффективную медиастратегию, направленную на реализацию бизнес-задач
        .i-ServiceBlock__circle: .i-ServiceBlock__gradient: include ../../images/sitemap.svg
      .i-Services__block.i-ServiceBlock
        include ../../images/border-image.svg
        .i-ServiceBlock__content
          .i-ServiceBlock__title Маркетинг
          .i-ServiceBlock__text Подберем наиболее эффективные киберспортивные каналы привлечения аудитории и увеличения лояльности. Создадим и внедрим вирусную рекламу в киберспортивное сообщество
        .i-ServiceBlock__circle: .i-ServiceBlock__gradient: include ../../images/target.svg
      .i-Services__block.i-ServiceBlock
        include ../../images/border-image.svg
        .i-ServiceBlock__content
          .i-ServiceBlock__title Сопровождение
          .i-ServiceBlock__text Быстро внедримся в Ваши текущие проекты и поможем в их реализации, предложив свежие идеи и комплексное сопровождение
        .i-ServiceBlock__circle: .i-ServiceBlock__gradient: include ../../images/light-bulb.svg
