.CallbackPopup#mailPopup
  .CallbackPopup__container
    .CallbackPopup__close#mailPopup-close
    h2.CallbackPopup__heading Написать нам
    form.CallbackPopup__form#mailPopup-form
      .CallbackPopup__item
        label.CallbackPopup__label_input Ваше имя:
        input.CallbackPopup__input(type="text" name="name" placeholder="Например, Антон" )
      .CallbackPopup__item
        label.CallbackPopup__label_input <span>*</span> Ваш email:
        input.CallbackPopup__input(type="email" name="email" placeholder="info@cyberagency.ru" required)
      .CallbackPopup__item
        label.CallbackPopup__label_input Ваше сообщение:
        textarea.CallbackPopup__input.CallbackPopup__textarea(type="text" name="text" placeholder="Что вас интересует?" )
      .CallbackPopup__agreement
        input.CallbackPopup__checkbox#mailPopup-checkbox(type="checkbox")
        label.CallbackPopup__label(for="mailPopup-checkbox") Согласен на обработку&nbsp;&nbsp;
        a.CallbackPopup__link(href="/") персональных данных
      button(type="submit").Button.i-TopSlider__button.CallbackPopup__button Отправить сообщение
        include ../../images/arrow-right-font.svg

