section.Map
  img(src="../../images/Ovals.svg").Map__background
  .g-wrapper.Map__g-wrapper
    .Map__content
      img(src="../../images/Map.png").Map__image
      .Map__form
        .Map__form_title Как нас найти?
        .Map__form_item
          .Map__form_subtitle Телефон:
          .Map__form_line
            img(src='../../images/Phone-form.svg')
            a(href="tel:+74959995555").Map__form_link +7 (495) 999-55-55
        .Map__form_item
          .Map__form_subtitle E-mail:
          .Map__form_line
            img(src='../../images/Envelope.svg')
            a(href="mailto:").Map__form_link info@name_agency.com
        .Map__form_item
          .Map__form_subtitle Адрес:
          .Map__form_line
            img(src='../../images/Place.svg')
            .Map__form_link г. Москва, ул. Большая Серпуховская д.44, стр. 1, офис 414
        .Map__button.Button.i-Blog__button.mail: <img src="../../images/Chat.png"/> Написать нам
