section.Partners
  .g-wrapper
    .Partners__content
      .Partners__subtitle Нас уже выбрали
      .Partners__title Наши партнеры
      .Partners__wrapper
        .Partners__slider_container.swiper-container
          .Partners__slider_wrapper.swiper-wrapper
            .Partners__slider_slide.swiper-slide
              .Partners__slider_wrap
                img(src="../../images/partner-1.png")
            .Partners__slider_slide.swiper-slide
              .Partners__slider_wrap
                img(src="../../images/partner-2.png")
            .Partners__slider_slide.swiper-slide
              .Partners__slider_wrap
                img(src="../../images/partner-3.png")
            .Partners__slider_slide.swiper-slide
              .Partners__slider_wrap
                img(src="../../images/partner-4.png")
            .Partners__slider_slide.swiper-slide
              .Partners__slider_wrap
                img(src="../../images/partner-5.png")
            .Partners__slider_slide.swiper-slide
              .Partners__slider_wrap
                img(src="../../images/partner-4.png")
            .Partners__slider_slide.swiper-slide
              .Partners__slider_wrap
                img(src="../../images/partner-5.png")
            .Partners__slider_slide.swiper-slide
              .Partners__slider_wrap
                img(src="../../images/partner-1.png")
            .Partners__slider_slide.swiper-slide
              .Partners__slider_wrap
                img(src="../../images/partner-2.png")
            .Partners__slider_slide.swiper-slide
              .Partners__slider_wrap
                img(src="../../images/partner-3.png")
            .Partners__slider_slide.swiper-slide
              .Partners__slider_wrap
                img(src="../../images/partner-4.png")

        .Partners__buttons
          .Partners__button.Partners__button_prev
            include ../../images/arrow-left.svg
          .Partners__button.Partners__button_next
            include ../../images/arrow-left.svg
