-
  const menu = [
    { name: 'Главная', path: '#' },
    { name: 'Услуги', path: '#' },
    { name: 'О нас', path: '#' },
    { name: 'Партнеры', path: '#' },
    { name: 'Блог', path: '#' },
    { name: 'Контакты', path: '#' },
  ]
