extends layouts/_main.pug

block vars
  - const title = ''
  - const activeMenuItem = 0;

block content
  include blocks/_i-topSlider.pug
  include blocks/_indexServices.pug
  include blocks/_i-About.pug
  include blocks/_i-events.pug
  include blocks/_i-Blog.pug
  include blocks/_partners.pug
  include blocks/_map.pug
  include blocks/_footer.pug
