.Header
  display flex
  align-items center
  padding 4rem 15rem 0
  &__logo
    margin-right 10rem
    & svg
      width 14rem
      height 5rem
  &__menu
    flex-grow: 1
  &__callback
    & svg
      margin-right 1rem
      width 2rem
      height 2rem
  &__phone
    flex 0 0 auto
    margin-right 3rem
  &__left
    display flex
    justify-content flex-start
    align-items center

.Phone
  text-align right
  &__container
    display flex
    align-items center
    margin-bottom 0.4rem
  & svg
    width 1.6rem
    height 1.6rem
    margin-right 0.8rem
  &__numbers
    font-weight: 800
    font-size: 2rem
    color #000
  &__text
    font-size: 1.2rem
    color #000

.Menu
  display flex
  &__link
    font-family: 'Open Sans'
    font-weight: 400
    font-size: 1.6rem
    color #000
    opacity 0.25
    transition opacity .3s
    will-change: opacity
    cursor pointer
    margin-right 3.5rem
    &:last-child
      margin-right 0
    &:hover,
    &_active
      opacity 1

@media (max-width 1000px)
  .Menu
    display none
  .Header
    position fixed
    top 0
    left 0
    width 100%
    z-index 10
    background white
    margin 0 auto
    padding 2rem 3rem
    justify-content space-between
    &__phone
      margin-right 0
    &__callback
      display none

@media (max-width 667px)
  .Header
    padding 1rem 2rem
    &__phone
      display none
    &__logo
      margin-right 10rem
      & svg
        width 8.4rem
