.i-Services
  margin-bottom 20rem
  &__subheading
    font-size: 2.8rem
    font-weight: 400
    color #000
    margin-bottom 0.8rem
  &__heading
    font-family: 'Gotham Pro'
    font-weight: 900
    font-size: 4.6rem
    color #000
    margin-bottom 3.7rem
  &__text
    font-size: 1.8rem
    font-weight: 400
    line-height: 2.8rem
    color #000
    &_bold
      font-weight: bold
  &__blocks
    display flex
    flex-wrap: wrap
    margin 0 -1.5rem
  &__block
    flex 0 0 auto
    position relative
    width calc((100% / 3) - 3rem)
    margin 10rem 1.5rem 0

.i-ServiceBlock
  box-shadow: 0 10px 18px rgba(#000,.06)
  position relative
  text-align center
  & svg
    width 100%
    filter drop-shadow(0 0 18px rgba(#000,.06))
    margin-bottom -4px
  &__content
    padding 1.5rem 3rem 7rem
    background-color #fff
    position relative
  &__circle
    position absolute
    top 0
    left 50%
    transform translate(-50%, -50%)
    width 12rem
    height 12rem
    padding 1rem
    border-radius 50%
    box-shadow: 0 0 12px rgba(#000,.1)
    background-color #fff
  &__gradient
    display flex
    justify-content center
    align-items center
    background-image linear-gradient(45deg, #3F58B5, #2DB0C2)
    width 100%
    height 100%
    border-radius 50%
    & svg
      height 5rem
      fill #fff
  &__title
    font-size: 1.8rem
    font-weight: bold
    color #000
    margin-bottom 1.5rem
  &__text
    font-size: 1.4rem
    color #000
    line-height: 2.4rem

@media (max-width: 1000px)
  .i-Services
    margin-bottom 16rem
    &__subheading
      font-size: 2.4rem
      margin-bottom 0
    &__heading
      font-size: 3.6rem
      margin-bottom 3.5rem
    &__text
      font-size: 1.6rem
      line-height: 2.6rem
    &__block
      width calc((100% / 2) - 3rem)

@media (max-width: 667px)
  .i-Services
    margin-bottom 12rem
    &__subheading
      font-size: 1.6rem
      margin-bottom 0
    &__heading
      font-size: 2.6rem
      margin-bottom 2.6rem
    &__text
      font-size: 1.4rem
      line-height: 2.2rem
    &__block
      width 100%
      margin 10rem 0 0
    &__blocks
      margin 0
  .i-ServiceBlock
    &__content
      padding 1rem 3rem 4.5rem
    &__circle
      width 9rem
      height 9rem
      & svg
        height 4rem
    &__title
      font-size: 1.6rem
      margin-bottom 1.1rem
    &__text
      line-height: 2.2rem
